<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CJOCTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2323C931CB91A6200DA02AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2323CAF1CB91A6300DA02AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2323CBA1CB91A6300DA02AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
